* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1efef;
}

.section {
  width: 230mm;
  height: 350mm;
  background-color: white;
  margin: auto;
  grid-template-columns: 0.5fr 1fr;
  display: grid;
  overflow: hidden;
}

.section .part-1 {
  width: 100%;
  height: 100%;
  background-color: #f1d9ca;
  padding: 40px 20px;
  padding-left: 40px;
}

.section .part-1 .foto img {
  width: 205px;
  height: 220px;
  border-radius: 50%;
  border: solid;
  margin-bottom: 20px;
}

.bakgrund {
  padding-block: 20px;
}

.prestationer {
  padding-block: 60px;
  padding-bottom: 100px;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.position {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.74);
  color: white;
}

.balder {
  padding: 70px;
  background-color: rgba(0, 0, 0, 0.74);
  color: white;
}

.work {
  padding: 0 2rem;
  padding-block: 40px;
}

.education {
  padding: 0 2rem;
  padding-block: 40px;
  padding-bottom: 70px;
}

.mjukvara {
  padding: 0 2rem;
}
